html,
body,
#root {
    height: 100%;
    margin: 0;
}
.flex-container {
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.flex-container div {
    width: 100px;
    height: 100px;
    background: #daa520;
    border-radius: 50%;
}

.flex-container div:nth-child(2) {
    align-self: center;
}
.flex-container div:nth-child(3) {
    align-self: flex-end;
}
.flex-container div:nth-child(4) {
    align-self: center;
}
